.select-object__buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* padding: 15px; */
}

.select-object__button-group {
  display: grid;
  grid-template-columns: 1fr 36px;
  gap: 8px;
}

.select-object__button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 15px;
  background: none;
  border: 1px solid #334D66;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.select-object__button svg {
  margin-right: 10px;
}

.select-object__button:hover {
  background: rgba(26, 128, 229, 0.1);
}

.select-object__button--link {
  min-width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: none;
  border: 1px solid #334D66;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.select-object__button--link:not([disabled]):hover {
  background: rgba(26, 128, 229, 0.1);
}

.select-object__button--link[disabled] {
  cursor: default;
  border-color: transparent;
}

.select-object__button--link[disabled] svg {
  display: none;
}
